img{
    width:300px
}

#content{
    display: flex;
    position: relative;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    top: 20vh;
}
#buttons{
    margin-top: 150px;
    flex-basis: 150px;
}
.butt{
    width: 30px;
    height: 30px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    font-size: 0.8rem;
}

.butt:hover{
    cursor: pointer;
    background-color: azure;
}

#del,#close{
    width: 52.5px;
}

